@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Prata&family=Roboto:wght@400;500;700&display=swap');

// Семейство шрифтов
$playfairDisplay: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;
$prata: 'Prata', serif;

// Цвета
$cream: #FDFDFB;
$white: #FFFFFF;
$lightDark: #555248;
$cameo: #D4B098;
$roseFog: #E6C8B4;
$rangoonGreen: #1B1A17;
$masala: #444240;
$oliveHaze: #8B8371;
$ash: #C4C0B6;
$springWood: #F7F5EF;
$fuscousGray: #5C5C50;

// Размер шрифта
$smaller6: 6px;
$smaller8: 8px;
$smaller12: 12px;
$small14: 14px;
$medium22: 22px;
$medium24: 24px;
$medium30: 30px;
$medium32: 32px;
$large45: 45px;

// Ширина шрифта
$regularW: 400;
$mediumW: 500;

body {
  font-family: $roboto;
  color: $rangoonGreen;
  background-color: $cream;
}

a {
  text-decoration: none;
  color: $rangoonGreen;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

// Переиспользуемые блоки
.logo {
  width: 104px;
  height: 26px;
  background-color: $lightDark;
  transition: 0.4s;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  mask-image: url(../images/logo.svg);
  -webkit-mask-image: url(../images/logo.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;

  &:hover {
    transform: scale(1.1);
  }
}

.link {
  display: block;
  width: max-content;
  background-color: $masala;
  color: $white;
  font-size: $smaller12;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 26px 38px;
  transition: 0.2s;

  &:hover {
    background-color: $cameo;
  }
  &:active {
    transform: scale(0.98);
  }
}

.bg-white {
  background-color: $white;
}

.bg-masala {
  background-color: $masala;
}

.bg-liner-gradient {
  background: linear-gradient(to right, $springWood 40%, $cream 30%);
}

img {
  width: 100%;
  height: 100%;
}

.hr{
  content: '';
  height: 1px;
  width: 30px;
  top: 34px;
  background-color: $oliveHaze;
}

.title {
  font-family: $playfairDisplay;
  font-size: $medium32;
  font-weight: $regularW;
}

// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  padding: 10px 15px 18px 15px;
  margin: 0 auto;

  &__list {
    display: flex;
    gap: 65px;
    list-style-type: none;
  }
  &__link {
    display: block;
    font-size: $small14;
    color: $lightDark;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
      color: $cameo;
    }
    &:active {
      transform: scale(1);
    }
  }
  &__icons {
    display: flex;
    gap: 23px;
  }
  &__icon {
    width: 20px;
    height: 100%;
  }
  &__btn {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }
}

.icon-fav {
  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '1$';
    font-size: 8px;
    position: absolute;
    border-radius: 100%;
    top: -3px;
    right: -14px;
    width: 13px;
    height: 13px;
    background-color: $roseFog;
  }
}

// Main
.container {
  max-width: 1164px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  gap: 180px;
  position: relative;
  max-height: 740px;

  &__info {
    padding-left: 50px;
  }
  &__title {
    position: relative;
    width: max-content;
    font-size: $large45;
    font-weight: $regularW;
    font-family: $playfairDisplay;
    &::before {
      position: absolute;
      content: '';
      height: 1px;
      width: 50px;
      background-color: $oliveHaze;
      left: -60px;
      top: 28px;
    }
  }
  &__subtitle {
    font-size: $medium30;
    font-weight: $regularW;
    font-family: $playfairDisplay;
    margin-top: 0;
    margin-bottom: 35px;
    padding-left: 4px;
  }
  &__paragraph {
    line-height: 1.5;
    font-size: $small14;
    opacity: 0.82;
    margin-bottom: 35px;
    padding-left: 4px;
  }
  &__img {
    position: relative;
    pointer-events: none;
    user-select: none;
    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      background-image: url(../images/ellipse.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
      left: -45%;
    }
  }
  &__watch {
    width: 100%;
    height: 100%;
  }
  &__parameter {
    position: relative;
    font-family: $prata;
  }
  &__parameter_left {
    position: absolute;
    left: 462px;
    top: 160px;
    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 50px;
      background-color: $oliveHaze;
      left: 82px;
      top: 8px;
    }
  }
  &__parameter_right {
    position: absolute;
    right: 0;
    bottom: 142px;
    &::before {
      position: absolute;
      content: '';
      height: 1px;
      width: 50px;
      background-color: $oliveHaze;
      right: 132px;
      top: 8px;
    }
  }
}

// Popular
.popular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 86px;
  position: relative;

  &__title {
    margin-top: 80px;
  }
  &__all {
    align-self: flex-end;
    border-bottom: 1px solid $ash;
    padding-bottom: 12px;
    margin-bottom: 20px;

    &_text {
      font-weight: $mediumW;
      color: $masala;
      transition: .2s;
      &:hover {
        transform: translateX(5px);
      }
      &:active {
        color: $cameo;
        transform: translateX(0);
      }
    }
  }
  &__product {
    background-color: $cream;
    padding: 40px 28px;
  }
  &__name {
    font-family: $playfairDisplay;
    opacity: .82;
  }
  &__price {
    font-family: $prata;
    font-size: $smaller12;
    opacity: .82;
  }
  &__img {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../images/ellipse_small.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  &__detail {
    display: flex;
    align-items: center;
    gap: 18px;
    font-family: $playfairDisplay;
    color: $rangoonGreen;
  }
  &__flex {
    display: flex;
    // flex-wrap: wrap;
    gap: 26px;
  }
}

// Feature
.feature {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 52px 40px 20px 40px;
  background-repeat: no-repeat;
  background-position: right -5% bottom;
  background-size: contain;
  background-image: url(../images/ellipse_multiple.svg);

  &__paragraph {
    color: $masala;
    line-height: 1.5;
    margin-bottom: 45px;
  }
  &__link {
    background-color: $cameo;
    color: $white;
    &:hover {
      background-color: $masala;
      color: $white;
    }
  }
  &__switcher {
    display: flex;
    align-self: center;
    align-items: baseline;
    gap: 20px;
  }
  &__counter {
    font-family: $prata;
  }
  &__button {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__button_left {
    transform: rotate(180deg);
  }
  &__flex {
    display: flex;
    align-items: center;
    gap: 70px;
  }
}

// Follow
.follow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 80px 98px 90px 0px;

  &__title {
    white-space: nowrap;
  }
  &__paragraph {
    line-height: 1.69;
    margin-bottom: 118px;
  }
}

.social {
  display: flex;
  gap: 16px;

  &__link {
    display: block;
    width: 22px;
    height: 22px;
  }
  &__icon {
    width: 100%;
    height: 100%;
    fill: $fuscousGray;
    transition: .2s;

    &:hover {
      fill: $cameo;
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }
}

.plate {
  display: flex;
  gap: 10px;
  &__item_1 {
    max-width: 242px;
    max-height: 228px;
  }
  &__item_2 {
    max-width: 242px;
    max-height: 222px;
  }
  &__item_3 {
    max-width: 337px;
    max-height: 460px;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

// Footer
.footer {
  display: flex;
  justify-content: space-between;
  padding: 67px 0;
  gap: 20px;

  &__logo {
    display: block;
    width: 130px;
    height: 34px;
    background-color: $white;
  }
  &__title {
    color: $white;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-size: $small14;
    margin-bottom: 26px;
  }
  &__item {
    margin-bottom: 10px;
  }
  &__paragraph, &__link {
    color: $white;
    opacity: 0.75;
    font-size: $smaller12;
  }
  &__link {
    transition: .2s;

    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main {
    &__parameter_right {
      left: 462px;
      &::before {
        left: 124px;
      }
    }
    &__parameter {
      font-size: $small14;
    }
  }
  .popular {
    &__title {
      font-size: $medium24;
    }
  }
  .feature {
    &__title {
      font-size: $medium24;
    }
    &__paragraph {
      font-size: $small14;
    }
  }
  .follow {
    &__title {
      font-size: $medium24;
    }
    &__paragraph {
      font-size: $small14;
    }
  }
}

@media screen and (max-width: 860px) {
  .main {
    &__parameter {
      display: none;
    }
    &__img {
      &::before {
        display: none;
      }
    }
  }
  .popular {
    &__title {
      font-size: $medium22;
    }
  }
  .feature {
    &__img {
      width: 300px;
    }
    &__title {
      font-size: $medium22;
    }
    &__paragraph {
      font-size: $smaller12;
    }
    &__link {
      padding: 12px 12px;
    }
    &__counter {
      font-size: $small14;
    }
  }
  .follow {
    &__title {
      font-size: $medium22;
    }
    &__paragraph {
      font-size: $smaller12;
    }
  }
}

@media screen and (max-width: 760px) {
  nav {
    display: none;
  }
  .main {
    gap: 80px;
    &__title {
      font-size: $medium30;
      &::before {
        display: none;
      }
    }
    &__subtitle {
      font-size: $medium22;
    }
    &__paragraph {
      font-size: $smaller12;
    }
  }
  .bg-liner-gradient {
    background: none;
  }
  .popular {
    &__flex {
      flex-wrap: wrap;
    }
    &__product {
      width: -webkit-fill-available;
    }
  }
  .feature {
    text-align: center;
    &__paragraph {
      margin-bottom: 10px;
    }
    &__flex {
      flex-direction: column-reverse;
      gap: 30px;
    }
    &__link {
      text-align: center;
      width: auto;
    }
  }
  .plate {
    display: none;
  }
  .follow {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    &__title {
      font-size: $medium24;
    }
    &__paragraph {
      font-size: $small14;
    }
  }
  .social {
    justify-content: center;
  }
  .footer {
    &__title {
      font-size: $smaller8;
    }
    &__link, &__paragraph {
      font-size: $smaller6;
    }
  }
}